@page "/MyPage/LeaveRequest/New"
@namespace FptUni.BpHospital.BlazorFE

@attribute [Authorize]

<PageTitle>New Leave Request</PageTitle>
@if (this.WorkItem == null)
{
    <span><p>Loading...</p></span>
} else
{
    <div class="col-lg-12">
        <EditForm Model="@WorkItem">
            <div style="padding-top: 20px;">

                <div class="form-group col-md-6">
                    <span>Choose a Range</span>
                    <SfDateRangePicker TValue="DateTime" Placeholder="Choose a Range" @bind-StartDate="@WorkItem.StartDate" @bind-EndDate="@WorkItem.EndDate" Min="@MinDate" Max="MaxDate" MinDays="1" MaxDays="15">
                    </SfDateRangePicker>
                </div>
                
                <div class="form-group col-md-6">
                    <span>Total Date</span>
                    <SfNumericTextBox Readonly=true @bind-Value="@TotalDay" FloatLabelType="FloatLabelType.Always" />
                </div>

                <div class="form-group col-md-6">
                    <SfButton CssClass="e-inherit" IconCss="oi oi-clock" OnClick="() => CalculateBusinessDate()">Calculate Business Date</SfButton>
                </div>

                <div class="form-group col-md-6">
                    <span>Leave Type</span>
                    <SfDropDownList @bind-Value=@(this.SelectedLeaveType) DataSource="LeaveTypeOptions" Placeholder="Leave Type">
                        <DropDownListFieldSettings Value="Key" Text="Value">
                        </DropDownListFieldSettings>
                    </SfDropDownList>
                </div>

                <div class="form-group col-md-6">
                    <SfButton CssClass="e-inherit" IconCss="oi oi-plus" OnClick="async () => await CreateAsync()">Create Leave Request</SfButton>
                </div>

            </div>
        </EditForm>
    </div>
}